In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

from sklearn.linear_model import LinearRegression

Создадим датасет с бегунами на 100м\
Предположим, что результатаы будут лежать в диапозоне от 9.58(быстрее никто не бегал) до 12 секунд\
Введем также расу и возраст бегуна

In [2]:
# Создаём сэмпл
n_samples = 1000
r = ['black', 'white', 'indian', 'asian']

runner_age = np.random.choice(range(17, 35), n_samples)
raсe = np.random.choice(r, n_samples)
height = np.random.choice(range(165, 205), n_samples)

result = np.random.choice(np.arange(9.58, 12, 0.01), n_samples)

data = pd.DataFrame({'runner_age': runner_age, 'raсe': raсe, 'height': height, 'result': result})
data.head(10)

   runner_age    raсe  height  result
0          17   black     178    9.94
1          29   white     183    9.81
2          23   white     191   11.85
3          31   asian     178   10.59
4          23  indian     187   11.21
5          18   white     180   11.48
6          24   white     192   11.48
7          22   white     183   10.28
8          18  indian     184   11.24
9          21   asian     172   10.23

Построим модель линейной регрессии и посмотрив веса признаков.\
Но сначала переведем расу в числа, чтобы модель работала

In [3]:
from sklearn.metrics import mean_absolute_error

X = data[['runner_age', 'height']]
y = data['result']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['runner_age', 'height']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [-0.00234129  0.00103211]
Bias: 10.675219022250388
Error: 0.6020418652084373

Пронумеруем расы. Можно использовать лэйбл инкодер. Но у меня это есть в 11 домашке - поэтому просто скоппастим.

In [5]:
data.raсe.replace(['black', 'white', 'indian', 'asian'], [0, 1, 2, 3], inplace=True)

In [6]:
data.head(10)

   runner_age  raсe  height  result
0          17     0     178    9.94
1          29     1     183    9.81
2          23     1     191   11.85
3          31     3     178   10.59
4          23     2     187   11.21
5          18     1     180   11.48
6          24     1     192   11.48
7          22     1     183   10.28
8          18     2     184   11.24
9          21     3     172   10.23

In [7]:
from sklearn.metrics import mean_absolute_error

X = data[['runner_age', 'height', 'raсe']]
y = data['result']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['runner_age', 'height', 'raсe']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [-0.00246677  0.0010002  -0.0063078 ]
Bias: 10.693867415761801
Error: 0.6020429442045888

In [8]:
def get_score(X,y, random_seed=42, model=None):
  if model is None:
    model = LinearRegression()
  X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=random_seed )  
  model.fit(X_train, y_train)
  return model.score(X_test, y_test)

In [9]:
columns = ['runner_age', 'height', 'raсe']

In [10]:
from sklearn.model_selection import train_test_split
get_score(data[columns], data['result'])

-0.005430810812736109

In [11]:
# Создаем новый признак
data['legs_lenght'] = data['height'] * 0.55
data.head(5)

   runner_age  raсe  height  result  legs_lenght
0          17     0     178    9.94        97.90
1          29     1     183    9.81       100.65
2          23     1     191   11.85       105.05
3          31     3     178   10.59        97.90
4          23     2     187   11.21       102.85

In [12]:
columns = ['runner_age', 'height', 'raсe','legs_lenght']

In [136]:
get_score(data[columns], data['result'])

-0.006864275428969613

In [137]:
X = data[['runner_age', 'height', 'raсe','legs_lenght']]
y = data['result']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['runner_age', 'height', 'raсe','legs_lenght']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [-2.11195207e-03 -5.96977232e+11  2.52637104e-02  1.08541315e+12]
Bias: 10.612554999999976
Error: 0.6074500899025633

In [138]:
data['weight'] = np.random.choice(range(50, 95), n_samples)
data.head(5)

   runner_age  raсe  height  result  legs_lenght  weight
0          18     0     203   10.76       111.65      58
1          32     1     165   11.96        90.75      77
2          26     1     191   10.51       105.05      69
3          19     1     177   11.25        97.35      86
4          31     2     175   10.95        96.25      80

In [139]:
X = data[['runner_age', 'height', 'raсe','legs_lenght', 'weight']]
y = data['result']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['runner_age', 'height', 'raсe','legs_lenght', 'weight']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [-2.01811037e-03 -5.98121276e+11  2.73055402e-02  1.08749323e+12
 -1.02476815e-03]
Bias: 10.659429999999976
Error: 0.6070351633682819

Так как значения во всех столбцах совершенно случайные, то ввдем зависимомть в руxную.\
Предположим, что чернокожие бегают быстрее.

In [66]:
n_samples = 1000
r = ['black', 'white', 'indian', 'asian']

runner_age = np.random.choice(range(17, 35), n_samples)
raсe = np.random.choice(r, n_samples)
height = np.random.choice(range(165, 205), n_samples)

#result = np.random.choice(np.arange(9.58, 12, 0.01), n_samples) , 'result': result

data = pd.DataFrame({'runner_age': runner_age, 'raсe': raсe, 'height': height})
data.head(10)

   runner_age    raсe  height
0          27  indian     176
1          21   asian     185
2          33   white     167
3          22   white     200
4          18   white     188
5          24   white     190
6          31   asian     168
7          24   black     191
8          21   asian     199
9          23   black     195

In [67]:
data.raсe.replace(['black', 'white', 'indian','asian'], [0, 1, 2, 3], inplace=True)

In [68]:
data.head(10)

   runner_age  raсe  height
0          27     2     176
1          21     3     185
2          33     1     167
3          22     1     200
4          18     1     188
5          24     1     190
6          31     3     168
7          24     0     191
8          21     3     199
9          23     0     195

In [77]:
data['result'] = np.where(data['raсe'].isin([0]), np.random.choice(np.arange(9.58, 10, 0.01), n_samples), np.random.choice(np.arange(9.58, 12, 0.01), n_samples))

In [78]:
data.head(25)

    runner_age  raсe  height  result
0           27     2     176   11.71
1           21     3     185   10.72
2           33     1     167   11.89
3           22     1     200    9.71
4           18     1     188   10.09
5           24     1     190   10.64
6           31     3     168   10.19
7           24     0     191    9.94
8           21     3     199   11.84
9           23     0     195    9.72
10          18     1     171    9.61
11          29     3     178   10.81
12          20     0     170    9.62
13          22     0     193    9.95
14          22     3     169   11.47
15          24     0     183    9.73
16          27     2     179    9.75
17          18     1     176   11.33
18          27     2     199   11.16
19          17     0     178    9.85
20          21     2     176    9.58
21          26     2     194   11.96
22          22     0     169    9.71
23          26     3     167   11.20
24          19     3     174   11.86

In [79]:
X = data[['runner_age', 'height', 'raсe']]
y = data['result']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['runner_age', 'height', 'raсe']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [-5.29794540e-03 -7.68235799e-06  2.47122317e-01]
Bias: 10.302874377506456
Error: 0.5817727092476493

In [81]:
columns = ['runner_age', 'height', 'raсe']

In [82]:
get_score(data[columns], data['result'])

0.14625689022687083

Скор увеличился в разы, так как раса напрямую влияет на результат.